{% extends 'web_app/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'user_app/css/style.css' %}">
<script src="{% static 'user_app/js/script.js' %}"></script>

<div class="container-signin">
    <div id="password-reset" class="form-container active">
        <h2>Reset Password</h2>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorlist">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="input-group {% if form.email.errors %}has-error{% endif %}">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Email</label>
                {% if form.email.errors %}
                    <div class="errorlist">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <button class="signin-signup-btn" type="submit">Reset Password</button>
        </form>
        <div class="switch">
            Remember your password? <a href="{% url 'signin' %}">Sign In</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('input[name="email"]').setAttribute('placeholder', 'Enter your email address');
    });
</script>

{% endblock content %}