{% extends 'web_app/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'user_app/css/style.css' %}">
<script src="{% static 'user_app/js/script.js' %}"></script>

<div class="container-signin">
    <div id="password-reset-confirm" class="form-container active">
        <h2>Set New Password</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errorlist">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% if form.new_password1 and form.new_password2 %}
                <div class="input-group {% if form.new_password1.errors %}has-error{% endif %}">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    {% if form.new_password1.errors %}
                        <div class="errorlist">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="input-group {% if form.new_password2.errors %}has-error{% endif %}">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                    {% if form.new_password2.errors %}
                        <div class="errorlist">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
                <button class="signin-signup-btn" type="submit">Change Password</button>
            
            {% else %}
                <div class="errorlist">
                    <p>Sorry, this password reset link is no longer valid. Please request a new one.</p>
                </div>
                <div class="forgot-password">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('input[name="new_password1"]').setAttribute('placeholder', 'Enter your new password');
        document.querySelector('input[name="new_password2"]').setAttribute('placeholder', 'Confirm your new password');
    });
</script>

{% endblock content %}